body {
    background-color: #f0f0f0;
    margin: 0;
    font-family: Arial, sans-serif;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.search-bar {
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: center;
    background-color: #ddd;
    border-radius: 20px;
    padding: 10px 20px;
}

.search-bar img {
    width: 20px; /* Set image width */
    height: 20px; /* Set image height */
    margin-right: 10px; /* Add space between image and input */
}

.input {
    flex: 1;
    border: none;
    background: #ddd;
    outline: none;
    margin-left: 10px;
    font-size: 16px;
    color: #ffffff;
    padding: 5px;
}

.input::placeholder {
    color: #000; /* Change placeholder text color to white */
}

.profile-section {
    display: flex;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 20px;
}

.profile-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #cccccc;
}

.profile-name {
    color: #000;
    margin-left: 10px;
    font-size: 16px;
    font-weight: bold;
}
